.event_items {
    display: inline-grid;
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
}
	
@media only screen and (max-width: 767px) {
	.event_items {
        grid-template-columns: repeat(2, 1fr);
    }
}