.production_items {
    display: inline-grid;
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    width: 100%;
    grid-template-columns: repeat(5, 1fr);
}

.production_item {
    display: flex;
    flex-direction: column;
}

.production_item .production_entase_photo_poster { order: 1; }
.production_item .production_post_title { order: 2; }
.production_item .production_entase_title { order: 2; }
.production_item .production_post_tags { order: 3; }
.production_item .production_post_content { order: 4; }
.production_item .production_post_story { order: 4; }