



._optgroup ._btnChange {
    vertical-align: bottom;
}

._optgroup ._btnSave, 
._optgroup ._btnCancel {
    display: none;
}

#wpcontent {
    padding: 0px;
}








.gensettings-table table tbody tr:nth-child(even) {
    background: #fff;
}
.gensettings-table table tbody tr:nth-child(odd) {
    background: #f6f7f7;
}
.gensettings-table table th {
    padding-left: var(--space-md);
}

@media screen and (max-width: 782px) {
    .gensettings-table table th {
        padding-left:  var(--space-sm);
    }
    .gensettings-table table td {
        padding:  var(--space-sm);;
    }
    .gensettings-table .entaseadmin-item {
        flex-direction: column;
        align-items: flex-start !important;
    }
    .gensettings-table .entaseadmin-item > div {
        min-width: 141px;
   
    }
}
.gensettings-table  .entaseadmin-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:  var(--space-md);
}






















